<div class="container">
    <h2>Restore password</h2>
    <form #form="ngForm"
          (submit)="restorePassword()">
        <div class="form-group">
            <label for="user">Email:</label>
            <input class="form-control form-control-lg"
                   name="email"
                   #email="ngModel"
                   [(ngModel)]="emailForRestore.email"
                   required>
        </div>
        <button type="submit"
                class="btn btn-primary">Restore password</button>
    </form>
</div>