<div class="container">
  <h2 style="margin-top: 1rem;">Admin Page</h2>
  <div class="buttons"
       style="margin: 1rem;">
    <button type="submit"
            class="btn btn-primary"
            style="margin-right: 1rem;"
            (click)='redirectToGames()'>Games</button>
    <button type="submit"
            style="margin-right: 1rem;"
            class="btn btn-primary"
            (click)='redirectToGenres()'>Genres</button>
    <button type="submit"
            class="btn btn-primary"
            (click)='redirectToChat()'>Chat</button>
  </div>

  <button type="submit"
          class="btn btn-primary"
          style="margin-top: 0.2rem;
               margin-left: 1rem;
               margin-bottom: 1rem;"
          routerLink='create'>Create Company</button>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"
            style="width: 80%">Genre Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dto of companiesDto, let i = index">
        <th scope="row">{{dto.name}}</th>
        <td>
          <button type="submit"
                  class="btn btn-primary"
                  routerLink='details/{{dto.id}}'>Preview</button>
        </td>
        <td>
          <button type="submit"
                  class="btn btn-danger mr-3"
                  (click)="deleteCompany(dto.id, i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>